/* Just some stuff to get us started. */

body {
    background-color:lightyellow;
}

header h1 {
    text-align: center;
    margin-bottom:5%
}

p {
    font-size:18px;
}

/* Actual CSS */

/* Sketch settings, start point. */
.flex-container {
    display:flex;
    flex-direction:row;
    gap:2rem;
}

#sketchSettings {
    float:left;
    border:2px solid black;
    padding:1em;
}

#titleSketchSettings {
    font-size:25px;
    text-align:center;
    font-weight:700;
}

#pxAmount {
    width:50%;
    border:2px solid black;
}

#inputCustomValue {
    display:none;
}

#submitCustomValue {
    display:inline;
    padding:0.3em;
}

#inputCustomValue::placeholder { 
    color:gray;
}

#colorChooser {
    width:50%;
    height:35px;
}

#themeChangerDark {
    color:white;
    background-color:black;
    border:1px solid black;
    display:inline;
    border-radius:100px;
}

#themeChangerLight {
    color:black;
    background-color:white;
    border:1px solid lightgray;
    display:none;
    border-radius:100px;
}

/* Sketch settings, end point. */

/* Main area, start point. */

#container {
    width:45%;
    border:2px solid red;
    background-color:whitesmoke;
    padding:1em;
    word-wrap: break-word;
    height:70vh;
    overflow:auto;
}

/* Main area, end point. */