bodys{background-color:lightyellow;}

header h1{text-align: center;
    margin-bottom:5%}

#sketchSettings{float:left;
    width:100%;
    border:1px solid red;}

#titleSketchSettings{font-size:25px;
    text-align:center;
    font-weight:700;}

#pxAmountLabel{text-align:center;}

#pxAmount{width:50%;
    background-color:yellow;
    border:2px solid black;}

#colorChooser{width:50%;
    height:35px;}

#themeChangerDark{color:white;
    background-color:black;
    border-color:black;
    display:inline;
    border-radius:100px;}

#themeChangerLight{color:black;
    background-color:white;
    border:1px solid lightgray;
    display:none;
    padding:3px}

#gapMaintainer101{width:25%;
    border:1px solid green;}

#container{width:50%;
    border:1px solid blue;}
