/* Just some stuff to get us started. */

body{background-color:lightyellow;}

header h1{text-align: center;
    margin-bottom:5%}

p{font-size:18px;}

/* Actual CSS */

/* Sketch settings, start point. */

#sketchSettings{float:left;
    width:100%;
    border:2px solid black;
    padding:10px;}

#titleSketchSettings{font-size:25px;
    text-align:center;
    font-weight:700;}

#pxAmount{width:50%;
    background-color: lightyellow;
    border:2px solid black;}

#inputCustomValue{background-color:lightyellow;}

#inputCustomValue::placeholder{color:gray;}

#colorChooser{width:50%;
    height:35px;}

#themeChangerDark{color:white;
    background-color:black;
    border-color:black;
    display:inline;
    border-radius:100px;}

#themeChangerLight{color:black;
    background-color:white;
    border:1px solid lightgray;
    display:none;
    border-radius:100px;}

/* Sketch settings, end point. */

/* Maintain the gap between the main area and the Sketch Settings*/

#gapMaintainer101{width:20%}

/* Main area, start point. */

#container{width:45%;}

/* Main area, end point. */